/* 
CSS loaders credit to Luke Haas. Amazing stuff.
https://projects.lukehaas.me/css-loaders/

<div class="loader">Loading...</div>
*/

:root {
  --button-loader-color: #aaaaaa;
  --button-loader-background: #f8f8f8;
  --submit-loader-color: white;
  --submit-loader-background: #9bbff1;
  --loader-color: #b9b9b9;
  --loader-background: white;
}

button {
  .loader {
    color: var(--button-loader-background);
    box-shadow: inset 0 0 0 0.3rem var(--button-loader-color);
  }
  .loader:before,
  .loader:after {
    background: var(--button-loader-background);
  }
}

button {
  &[type="submit"] {
    .loader {
      color: var(--submit-loader-background);
      box-shadow: inset 0 0 0 0.3rem var(--submit-loader-color);
    }
    .loader:before,
    .loader:after {
      background: var(--submit-loader-background);
    }
  }
}

.options {
  button {
    .loader {
      transform: scale(0.8);
    }
  }
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}

.loader {
  display: inline-block;
  color: var(--loader-background);
  font-size: 1rem;
  position: relative;
  width: 2rem;
  height: 2rem;
  text-indent: 2rem;
  box-shadow: inset 0 0 0 0.3rem var(--loader-color);
  transform: translateZ(0);
}

.loader:before,
.loader:after {
  position: absolute;
  content: '';
  background: var(--loader-background);
}

.loader:before {
  width: 1.2rem;
  height: 2.2rem;
  border-radius: 2.2rem 0 0 2.2rem;
  top: -0.1rem;
  left: -0.1rem;
  transform-origin: 1.1rem 1.1rem;
  animation: load2 2s infinite ease 1.5s;
}

.loader:after {
  width: 1.2rem;
  height: 2.2rem;
  border-radius: 0 2.2rem 2.2rem 0;
  top: -0.1rem;
  left: 0.9rem;
  transform-origin: 0.1rem 1.1rem;
  animation: load2 2s infinite ease;
}

@keyframes load2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
