// Typography

/* Use the system font stack */
$fontFamilySystem: system-ui, sans-serif
$fontSizeSystem: 16px
$fontFamilyHead: Avenir Next, system-ui, sans-serif
$lineHeightSystem: calc(3 / 2)
$lineHeightButton: calc(3 / 2)
$lineHeightShort: calc(3 / 2)

// Tables
$fontSizeGrid: 14px

// Logo
$logoHeight: 40px

// Color Palette
$colorBackgroundDefault: #ffffff
$colorZebraStripe: #f2f2f2
$colorZebraBorder: #dddddd
$colorRule: #dddddd
$colorZebraSelect: #fff0ca

// Options Palette
$colorLink: #2B72CB
$colorLinkHover: #2666B5

// Feedback
$colorError: #d00a00
$colorErrorLight: #fff5f3
$colorWarning: #c0a011
$colorInfo: #2B72CB
$colorQuestion: #2B72CB
$colorSuccess: #309f60

// Ottoneu colors
$ottoneuHeader: #rgb(56, 69, 90)
$ottoneuBody: rgb(104, 112, 112)
$ottoneuNeutral: rgb(217,219,219)
$ottoneuUnknown: rgb(204, 207, 207)
$ottoneuUnknownMatch: rgb(163, 167, 167)
$ottoneuZebraStripe: rgb(224, 237, 255)

// Player Tag Presentation
$playerTagBorderRadius: 12px

// Player Palette
$colorSplitText: $ottoneuHeader
$colorSplitInverse: #ffffff
  
$colorHighlighterAlternate: $ottoneuZebraStripe

$colorSplitMatch: #000000
$colorSplitUnknownMatchBorder: $ottoneuUnknownMatch
$colorSplitUnknownMatchText: $ottoneuUnknownMatch

$matchupUnknownBackground: inherit
$matchupUnknownBorder: $ottoneuUnknown
$matchupUnknownText: $ottoneuUnknown

$neutralParkBackground: inherit
$neutralParkBorder: $ottoneuNeutral
$neutralParkText: $ottoneuUnknown
